# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.eggs
*.py[cod]
__pycache__/
*.so
*~
*.swp

# due to using t/nox and pytest
.tox
.cache
.pytest_cache
.coverage
htmlcov/

# virtual envs
venv/
env/
